body{
height:100vh;
margin: 0 auto;
max-width: 800px;
};

.wrapper{

}

ul {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;

}

ul a{
text-transform:uppercase;
text-decoration:none;
color: black;
font-weight: 800;
letter-spacing: 2px;
}

ul li{
  display:inline-box; 
}

ul :first-child > a{
color:red;
text-transform:capitalize;
}

ul :first-child > a:hover{
color:blue;
}

.navbar{
 display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}